/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 60px;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f4f1eb;
    color: #111;
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Grain Overlay */
.grain {
    position: fixed;
    inset: 0;
    background-image: url('./assets/textures/grain.png');
    opacity: 0.08;
    pointer-events: none;
    z-index: 999;
}

/* Sidebar */
.sidebar {
    width: 260px;
    min-height: 100vh;
    padding: 3rem 2rem;
    border-right: 1px solid rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

.logo {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 3rem;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 1rem;
}

.sidebar a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    transition: opacity 0.3s ease;
}

    .sidebar a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 0%;
        height: 1px;
        background: black;
        transition: width 0.3s ease;
    }

    .sidebar a:hover::after {
        width: 100%;
    }

    .sidebar a:hover {
        opacity: 0.5;
    }



.socials {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

/* Main Content */
.content {
    flex: 1;
    padding: 5rem;
}

.hero {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eyebrow {
    font-size: 0.8rem;
    letter-spacing: 0.4em;
    margin-bottom: 2rem;
    opacity: 0.5;
}

.hero-title {
    font-size: clamp(5rem, 14vw, 10rem);
    line-height: 0.9;
    letter-spacing: -0.06em;
}

.hero-description {
    margin-top: 2rem;
    max-width: 650px;
    font-size: 1.2rem;
    line-height: 1.8;
    opacity: 0.8;
}

    .hero h2 {
        font-size: clamp(2.5rem, 7vw, 5rem);
        font-weight: 900;
        line-height: 1;
        max-width: 800px;
        margin-bottom: 1.5rem;
    }
}
